@mixin animation ($argument) {
    @if global-variable-exists(experimental-support-for-webkit) {-webkit-animation: $argument;}
    @if global-variable-exists(experimental-support-for-mozilla) {-moz-animation: $argument;}
    @if global-variable-exists(experimental-support-for-opera) {-o-animation: $argument;}
    animation: $argument;
}