@mixin font-face($name, $file, $weight: normal, $style: normal, $eot: true, $woff: true, $ttf: true, $svg: true, $font_path: $font_path, $icon: false) {
    @font-face {
        font-family: quote($name);
        @if $eot {
            src: url("#{$font_path}#{$file}.eot");
            $eot_s: 'url("#{$font_path}#{$file}.eot?#iefix") format("embedded-opentype"),'
        }
        @if $woff {
            $woff2_s: 'url("#{$font_path}#{$file}.woff2") format("woff2"),'
        }
        @if $woff {
            $woff_s: 'url("#{$font_path}#{$file}.woff") format("woff"),'
        }
        @if $ttf {
            $ttf_s: 'url("#{$font_path}#{$file}.ttf") format("truetype"),'
        }
        @if $svg {
            $svg_s: 'url("#{$font_path}#{$file}.svg##{$name}") format("svg")'
        }
        src: unquote($eot_s) unquote($woff2_s) unquote($woff_s) unquote($ttf_s) unquote($svg_s);
        @if $weight {
            font-weight: $weight;
        }
        @if $style {
            font-style: $style;
        }
    }

    @if $icon and $svg {
        @media screen and (-webkit-min-device-pixel-ratio: 0) {
            @font-face {
                font-family: quote($name);
                src: url("#{$font_path}#{$file}.svg") format("svg");          
                font-weight: normal;
                font-style: normal;                
            }
        }
    }
}